#root {
  height: 100vh;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr minmax(280px, 1fr) 1fr;
  grid-template-rows: 0fr 0fr 0fr;
}

.titleBox {
  grid-column-start: 2;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 8px;
  min-width: 276px;
}

.titleBoxContent {
  display: flex;
  flex-direction: column;
  margin-top: 10.5px;
  margin-left: 10px;
  margin-bottom: 10.5px;
}
.name {
  font-size: 22px;
  font-weight: bold;
}

.titleRole {
  color: lightgray;
  font-size: 12px;
}

.titleLocation {
  color: lightgray;
  font-size: 12px;
}

.ContactBox {
  grid-column-start: 3;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: 5px;
  min-width: 95px;
}

@media (max-width: 875px) {
  @media (max-width: 480px) {
    .page {
      grid-template-columns: 1fr;
    }
    .titleBox,
    .ContactBox {
      grid-column-start: 2;
    }
  }
  .ContactBox {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    flex-direction: row;
    position: static;
    height: 93px;
  }
  .ContactBox.sticky {
    position: static !important;
    top: unset !important;
  }
}

.gitImage {
  margin: auto;
}
.profileImage {
  margin: auto;
}

.sticky {
  position: sticky;
  top: 25px;
}