#root {
  max-width: full;
}

.page {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.titleBox {
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 8px;
  height: 60px;
  /* 7.5% */
  width: 473px;
  /* 32.5% */
  min-width: 280px;
  margin-left: auto;
  margin-right: 5px;
}

.titleBoxContent {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 10.5px;
  margin-left: 10px;
}
.name {
  font-size: 18px;
  font-weight: bold;
}

.titleRole {
  color: lightgray;
  font-size: 12px;
}

.ContactBox {
  display: flex;
  flex-direction: row;
  position: sticky;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  border-radius: 8px;
  height: 60px; 
  /* 7.5% */
  width: 110px; 
  /* 7.5% */
  min-width: 95px;
  margin-right: auto;
}

.gitImage {
  margin: auto;
}
.profileImage {
  margin: auto;
}

.sticky {
  position: sticky;
  top: 8px;
}