.currentSection {
    grid-column-start: 2;
    margin-top: 40px;
    min-width: 280px;

}

.currentTitle {
    border-width: 2px;
    min-width: 380px;
    font-size: 20px;
    font-weight: bold;
}

.currentContent{
    margin-top: 5px;
    font-size: 15px;

    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 8px;

    padding-top: 10.5px;
    padding-left: 10px;
    padding-bottom: 10.5px;
    padding-right: 10px;
    
}

.currentCard{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.workTitleFirst {
    font-size: 18px;
}

.workTitle {
    font-size: 18px;
    margin-top: 24px;
}

.workTech{
    font-size: 12px;
    color: lightgray;
    margin-top: 8px;
}

.workDescription{
    margin-top: 16px;
}