.projectsTitle {
    grid-column-start: 2;
    border-width: 2px;
    margin-top: 40px;
    min-width: 280px;
    font-size: 20px;
    font-weight: bold;
}

.projectsSection {
    grid-column-start: 2;

    min-width: 280px;

}

.projectContent {
    margin-top: 5px;
    font-size: 15px;

    border-style: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 8px;

    padding-top: 10.5px;
    padding-left: 10px;
    padding-bottom: 10.5px;
    padding-right: 10px;
}

.projectCardFirst {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.projectCard {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin-top: 30px;
}

.projectCardA {
    display: flex;
    flex-direction: column;
}

.projectName {
    font-size: 18px;
}

.projectTech {
    font-size: 12px;
    color: lightgray;
    margin-top: 5px;
}

.projectDescription {
    margin-top: 10px;
}

.projectCardb {

}